<div *ngIf="matchesCreated == false" class="container">
  <table class="table table-hover" id="tournamentsTable">
    <thead><tr><th>Name</th><th style="text-align:right">erstellt am</th></tr></thead>
    <tbody *ngFor="let tournament of tournaments">
    <tr [class]="tournament.isToggled?'table-active':'table'"
        (click)="getTeamsByTournamentId(tournaments.indexOf(tournament))">
      <td>
        {{tournament.name}}
      </td>
      <td align="right">
        {{tournament.date}}
      </td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-outline-primary"
          id="start"
          (click)="startTournament()">Turnier starten
  </button>
</div>

<div *ngIf="(matchesCreated == true && isFinished == false) || isFinale == true">
  <button *ngIf="canBack == true" type="button" class="btn btn-outline-primary" id="back"
          (click)="backToTournaments()">Zurück
  </button>
  <table class="table table-hover">
    <thead *ngIf="isFinale != true && isKleinesFinale != true"><tr><th colspan="4" style="text-align:center">{{roundContent}}. Runde</th></tr></thead>
    <thead *ngIf="isKleinesFinale == true"><tr><th colspan="4" style="text-align:center">Kleines Finale</th></tr></thead>
    <thead *ngIf="isFinale == true"><tr><th colspan="4" style="text-align:center">Finale</th></tr></thead>
    <tbody>
    <tr *ngFor="let match of matches" style="text-align: center" [class]="match.isDisabled?'table-success':'table-danger'">
      <td>
        <label>{{match.team1.name}}</label>
      </td>
      <td *ngIf="match.team2.name == 'Wildcard'">
        <input [(ngModel)]="match.result.pointsFirstTeam" type="text" class="form-control" readonly>
        :
        <input [(ngModel)]="match.result.pointsSecondTeam" type="text" class="form-control" readonly>
      </td>
      <td *ngIf="match.team2.name != 'Wildcard'">
        <button type="button" class="btn btn-outline-primary" (click)="up(match, 1)">+</button>
        <button type="button" class="btn btn-outline-primary" (click)="down(match, 1)">-</button>
        <input [(ngModel)]="match.result.pointsFirstTeam" type="text" [class]="match.isWrong?'wrongInput form-control':'form-control'">
        :
        <input [(ngModel)]="match.result.pointsSecondTeam" type="text" [class]="match.isWrong?'wrongInput form-control':'form-control'">
        <button type="button" class="btn btn-outline-primary" (click)="up(match, 2)">+</button>
        <button type="button" class="btn btn-outline-primary" (click)="down(match, 2)">-</button>
      </td>
      <td>
        <label>{{match.team2.name}}</label>
      </td>
      <td *ngIf="match.team2.name != 'Wildcard'">
        <button type="button" class="btn btn-outline-success"
                [disabled]="match.isDisabled"
                (click)="putMatch(match)">Fertig
        </button>
      </td>
      <td *ngIf="match.team2.name == 'Wildcard'">
        <button type="button" class="btn btn-outline-success"
                [disabled]="true">Fertig
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="matchesCreated == true && isFinished == false" class="container" style="text-align: center">
  <button type="button" id="next" class="btn btn-outline-primary"
          [disabled]="isNextDisabled"
          (click)="nextRound()">Nächste Runde
  </button>
</div>

<div *ngIf="isFinale == true" class="container" style="text-align: center">
  <button type="button" class="btn btn-outline-primary"
          (click)="finishTournament()">Turnier Beenden
  </button>
</div>

<div *ngIf="matchesCreated == true">
  <table class="table table-hover">
    <tbody>
    <tr *ngFor="let match of finishedMatches" style="text-align: center">
      <td>
        <label [class]="match.result.pointsFirstTeam>match.result.pointsSecondTeam?'winner':'loser'">{{match.team1.name}}</label>
      </td>
      <td>
        <input [(ngModel)]="match.result.pointsFirstTeam" type="text" class="form-control" readonly>
        :
        <input [(ngModel)]="match.result.pointsSecondTeam" type="text" class="form-control" readonly>
      </td>
      <td>
        <label [class]="match.result.pointsFirstTeam<match.result.pointsSecondTeam?'winner':'loser'">{{match.team2.name}}</label>
      </td>
    </tr>
    </tbody>
  </table>
</div>
