.form-control{
  width: 100px;
  display: inline;
}

.matchButton{
  height: 100%;
}

.wrongInput{
  border: 3px solid crimson;
}

table {
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

#tournamentsTable {
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#start {
  margin:0 auto;
  display:block;
}

#get {
  margin:0 auto;
  margin-top: 30%;
  display:block;
}

#back {
  margin-top: 5%;
}

#next {
  margin-bottom: 5%;
}

input {
  text-align: center;
}
